/* App.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Horizontal Menu */
.horizontal-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
}

.horizontal-menu li {
  float: left;
}

.horizontal-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.horizontal-menu li a:hover {
  background-color: #111;
}

/* Table */
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}

/* Weekly Summary Table */
.weekly-summary-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  margin-top: 40px;
}

.weekly-summary-table th, .weekly-summary-table td {
  border: 1px solid #ddd;
  padding: 12px;
}

.weekly-summary-table th {
  background-color: #4CAF50;
  color: white;
  text-align: center;
}

.weekly-summary-table td {
  text-align: center;
}

@media (max-width: 768px) {
  table, .weekly-summary-table {
    width: 100%;
  }
}
